.top10-container {
    margin-top: 20px;
    margin-bottom: 25px;
    position: relative;
}

.top10-title {
    margin-bottom: 15px;
}

.top10-card-list {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
}

.top10-card-list::-webkit-scrollbar {
    display: none;
}

.card-wrapper {
    position: relative;
}

.top10-card {
    display: flex;
    text-decoration: none;
    box-sizing: border-box;
    position: relative;
    right: 50px;
    cursor: pointer;
}

.top10-rank {
    max-height: 190px;
}


.top10-rank p {
    font-size: 15.5rem;
    font-weight: 900;
    position: relative;
    font-family: 'Roboto';
    bottom: 50px;
    left: 46px;
    z-index: -1;
    color: rgb(0, 0, 0);
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: rgb(98, 98, 98);
}

.top10-image {
    width: 140px;
    max-height: 190px;
    border-radius: 8px;
}

.top10-card:hover {
    transform: scale(0.95);
}

.arrows {
    background: none;
    border: none;
    position: absolute;
    top: 58%;
    transform: translateY(-50%);
    z-index: 1;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
  }

  .top10-container:hover .arrows {
    opacity: 1;
  }

  .arrows:hover {
    transform: translateY(-50%) scale(1.2); 
  }
  
  .left-arrow {
    left: 20px;
  }
  
  .right-arrow {
    right: 40px;
  }
  
  .arrows img {
    width: 40px;
    height: 50px;
  }

@media (min-width: 801px) and (max-width: 1024px) {
    .top10-title {
        font-size: 24px;
    }
    .top10-card-list {
        gap: 10px;
    }
    .top10-rank {
        max-height: 170px;
    }
    .top10-rank p {
        font-size: 15rem;
        bottom: 53px;
        left: 43px;
    }   
     .top10-image {
        width: 135px;
        max-height: 180px;
    }

    .left-arrow {
        left: 5px;
      }
      
      .right-arrow {
        right: 5px;
      }

    .arrow img {
        width: 35px;
        height: 45px;
    }
}

@media (min-width: 481px) and (max-width: 800px){
    .top10-title {
        font-size: 20px;
    }
    .top10-card-list {
        gap: 0;
    }
    .top10-rank {
        max-height: 167px;
    }
    .top10-rank p {
        font-size: 13.4rem;
        bottom: 46px;
        left: 41px;
    }   
     .top10-image {
        width: 123px;
        max-height: 160px;
    }

    .left-arrow {
        left: 5px;
      }
      
      .right-arrow {
        right: 5px;
      }

    .arrow img {
        width: 30px;
        height: 40px;
    }

}

@media (min-width: 100px) and (max-width: 480px) {
    .top10-title {
        font-size: 18px;
    }
    .top10-card-list {
        gap: 0;
    }
    .top10-rank {
        max-height: 150px;
    }
    .top10-rank p {
        font-size: 11.5rem;
        bottom: 40px;
        left: 44px;
    } 
     .top10-image {
        width: 100px;
        max-height: 140px;
        left: 10px;
    }
    .left-arrow {
        left: 5px;
      }
      
      .right-arrow {
        right: 5px;
      }

    .arrow img {
        width: 20px;
        height: 30px;
    }
}
